@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;500&display=swap');

.invoiceDiv{
  width: 100%;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

nav img{
  width: 12%;
}

.buildDiv{
  width: 100%;
  background-color: #0A150F;
  padding: 3em 2em;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1em;
}

.header p:nth-child(1){
  font-family: "Montserrat";
  font-size: 2.3rem;
  color: #fff;
}

.header span{
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 700;
  color: #97F675;
}

.header p:nth-child(2){
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.9rem;
  color: #97F675;
}

.billDiv{
  width: 65%;
  margin: 3em auto 0em;
}

.billInnerDiv{
  width: 100%;
  padding: 1em;
  background-color: white;
  border-radius: 2rem;
  padding: 2em 3em;
  /* gap: 1em; */
}

.billDetailsDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.billDetailsDiv > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2.5em;
}

.billDetailsDiv label{
  font-size: 0.9rem;
  color: #464646;
}

.billDetailsDiv input,.billDetailsDiv textarea{
  margin-top: 0.5em;
  width: 100%;
  padding: 1em 0.5em;
  border-radius: 0.5em;
  border: 1.5px solid #8e8e8e;
}

.antSelect{
  margin-top:0.5em;
}

.ant-select-selector{
  border: 1.5px solid #8e8e8e !important;
  box-shadow:none !important;
}

.InvoicePurchaseDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.companyDetailsDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.currencyDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .billInnerDiv div>input,.billInnerDiv div>textarea{
  width: 85%;
  border-radius: 0.25rem;
  border: 0.5px solid #C2C2C2;
  background: #FBFBFB;
  padding: 0.5em 0.5em;
}

.billInnerDiv div>input::placeholder,.billInnerDiv div>textarea::placeholder{
  font-family: "Montserrat";
  font-weight: 500; 
  font-size: 1em;
  color: black;
}

.fileDiv{
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23BCBCBC' stroke-width='2' stroke-dasharray='6%2c6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileDiv>p:nth-child(1){
  color: #292D32;
  font-size: 1.2rem;
}

.fileDiv>p:nth-child(2){
  color: #A9ACB4;
  font-size: 0.7rem;
}

.fileDiv>input{
  display: none;
}

.right{
  margin-left: 40%;
}

.headerRight{
  float: right;
  padding: 0.2em 2rem;
} */
