@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;500&display=swap');

.invoiceDiv{
  width: 100%;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

nav img{
  width: 12%;
}

.buildDiv{
  width: 100%;
  background-color: #0A150F;
  padding: 3em 2em;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1em;
}

.header p:nth-child(1){
  font-family: "Montserrat";
  font-size: 2.3rem;
  color: #fff;
}

.header span{
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 700;
  color: #97F675;
}

.header p:nth-child(2){
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.9rem;
  color: #97F675;
}

.billDiv{
  width: 70%;
  margin: 3em auto 0em;
}

.billInnerDiv{
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  /* gap: 1em; */
}

.billDetailsDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 3em;
}

label{
  color: #868685;
}

input[type="text"],textarea{
  padding: 1em 0.5em;
  border-radius: 0.5em;
  border: 1.5px solid #868685;
}

.billDetailsDiv label{
  font-size: 0.9rem;
}

.billDetailsDiv input[type="text"],.billDetailsDiv textarea{
  width: 100%;
  margin-top: 0.5em;
}

.InvoicePurchaseLogoDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}

.InvoicePurchaseLogoDiv >div{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.logoDiv{
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start;
  gap: 0 !important;
}

.logoDiv >div{
  width: 100%;
  margin-top: 0.5em;
  border: 1.5px solid #868685 ;
  padding: 1.2em 1em;
  border-radius: 0.5em;

  text-align: center;
}

.logoDiv img{
  width: 10%;
}

.logoDiv>div p:nth-child(2){
  font-size: 1rem;
  font-weight: 500;
}

.logoDiv>div p:nth-child(3){
  font-size: 0.7rem;
}


.billToFromDiv{
  margin-top: 1.5em;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}

.billToFromDiv >div{
  width: 100%;
}

.currencyDateDiv{
  margin-top: 1.5em;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  gap: 1.5em;
}

.currencyDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  align-items: flex-start;
}

.antSelect{
  margin-top:0.5em;
  width: 100%;
}

.ant-select-selector{
  border: 1.5px solid #868685 !important;
  box-shadow:none !important;
}

.ant-select-selector span{
  /* font-size: 1.1rem !important; */
}

.dateDiv{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  gap: 1.5em;
}

.ant-picker{
  margin-top: 0.5em;
  border: 1.5px solid #868685 !important;
  box-shadow: none !important;
}

.itemDetailsDiv{
  width:90%;
  margin: 2em auto;
  margin-bottom: 2em;
  padding: 1em;
  background-color: #edefeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.itemDiv{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.itemDiv > div{
  display: flex;
  flex-direction: column;
}

.itemDiv label{
  color: black;
}

.itemDiv input[type="text"]{
  margin-top: 0.5em;
  background-color: transparent;
  padding: 0.7em 0.5em;
  font-size: 1.1rem;
}

.largeInput{
  width: 35%;
}

.smallInput{
  width: 15%;
}

.deleteIcon{
  width: 5%;
}

.deleteIcon div{
  transform: translateY(10px);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteIcon div:hover{
  background-color: #97F675;
  transition: 0.2s ease;
}

.addIconDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.addIconDiv p{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.9rem;
}

.deleteIcon img{
  width: 30%;
}

/* .billInnerDiv div>input,.billInnerDiv div>textarea{
  width: 85%;
  border-radius: 0.25rem;
  border: 0.5px solid #C2C2C2;
  background: #FBFBFB;
  padding: 0.5em 0.5em;
}

.billInnerDiv div>input::placeholder,.billInnerDiv div>textarea::placeholder{
  font-family: "Montserrat";
  font-weight: 500; 
  font-size: 1em;
  color: black;
}

.fileDiv{
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23BCBCBC' stroke-width='2' stroke-dasharray='6%2c6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileDiv>p:nth-child(1){
  color: #292D32;
  font-size: 1.2rem;
}

.fileDiv>p:nth-child(2){
  color: #A9ACB4;
  font-size: 0.7rem;
}

.fileDiv>input{
  display: none;
}

.right{
  margin-left: 40%;
}

.headerRight{
  float: right;
  padding: 0.2em 2rem;
} */
